body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8%;
}

.navbarw {
  display: flex;
  position: static;
  flex-direction: row;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
}

.navbarw a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.mobile-only {
  display: none;
  width: 100%;
}
.web-only {
  display: block;
}
/* --------------MOBIL--------------------- */

@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .section {
    flex-direction: column;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .mobile-only {
    display: block;
  }
  .web-only {
    display: none;
  }

  header {
    width: 95%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 10%;
  }

  .navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #333;
    width: 100%;
  }

  .navbar p {
    font-size: 80%;
  }

  nav {
    width: 100%;
  }

  .navbar a {
    color: #fff;
  }

  .dropdown:hover .navbar {
    display: block;
    justify-content: center;
    width: 100%;
    background-color: #555;
  }

  .menu {
    position: sticky;
    justify-content: center;
    padding: 25%;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .hampic {
    display: grid;
    justify-content: end;
  }

  .Hamgrid {
    display: block;
    width: 100%;
  }

  .section-section1 {
    display: flex;
    padding: 10%;
    width: 87%;
    background-color: #f1f1f1;
    margin: 3%;
    border: 1px solid #ddd;
    border-radius: 1%;
  }

  .section-section1 img {
    width: 50%;
  }
  .sectionmeny {
    width: 68%;
    display: flex;
    padding: 20%;
    background-color: #f1f1f1;
    margin: 3%;
    border: 1px solid #ddd;
    border-radius: 1%;
  }

  h2 {
    width: 100%;
  }

  .sectionmeny img {
    height: 50%;
    width: 50%;
  }

  .section {
    display: flex;
    padding: 10%;
    width: 90%;
    margin: 1%;
  }

  .section img {
    width: 45%;
  }

  footer {
    width: 100%;
  }
}
